/* CSS declarations go here */

/* Extends mdl classes */
.mdl-card__supporting-text {
  overflow: auto !important;
}

.mdl-card__actions {
  max-height: 53px;
}

/*.mdl-card {
  height: fit-content;
}*/

.mdl-textfield {
  display: block !important;
}

/* Other classes */

form {
  margin-top: 10px;
  position: relative;
}
